<link rel="stylesheet" href="~/css/UserNavbar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="mcontainer">

        <header>
            <h2>
                <a href="#"><img src="~/Images/MobiZone-logos_black.png"/> <span>MobiZone</span> </a>
            </h2>
            <nav>
                <ul>
                    <li class="search">
                        <input type="text">
                        <button>search</button>
                    </li>
                 
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>

            </nav>
        </header>

</div>
      