<link rel="stylesheet" href="~/css/UserNavbar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="mcontainer">

    <header>
        <h2>
            <a href="#"><img src="~/Images/MobiZone-logos_black.png" /> <span>MobiZone</span> </a>
        </h2>
        <nav>
            <ul>
                <li class="search">
                    <input type="text">
                    <button>search</button>
                </li>
                @*<li><a asp-controller="user" asp-action="userregister">Register</a></li>*@

                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link text-dark" style="padding: 0.12rem 1rem; color: #0d6efd" asp-controller="User" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link text-dark" style="padding: 0.12rem 1rem; color: dodgerblue" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    }
                </li>

                <li><a href=" ">Account</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>

        </nav>
    </header>

</div>
