<link rel="stylesheet" href="/css/Navbaradmin.css" />

<header>
            <h2>
                <a href="#"><img src="~/Images/MobiZone-logos_black.png" /> <span>MobiZone</span> </a>
            </h2>
            <nav>
                <ul>
                
                    <li><a href="#">Login</a></li>
     
                </ul>

            </nav>
        </header>


